/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
:root {
    --bg-color: #e2e2e2;
    --color-primary: rgb(219, 99, 0);
    --color-secondary: rgb(255, 204, 145);
    --font-primary: "Red Hat Display", serif;
}
body {
    background-color: var(--bg-color) !important;
    font-family: var(--font-primary) !important;
    font-optical-sizing: auto;
}